* {
  margin: 0 auto;
  box-sizing: border-box;
}

.wrapper {
    padding-top: 30px;
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
}

.wrapper__sections{
}

.section__block {
  display: flex;
  margin-bottom: 10px;
}

.section__text{
    margin-left: 0px;
    color: #464646;
}

.section__accordeon{
    border-radius: 3px;
    background-color: #464646;
    display: flex;
    margin-right: 0px;
}

.section__line{
    margin: 10px 0;
}

.section__image{
    max-width: 25em;
    width: 28vw;
}

.section__cross:hover{
    padding: 5px 5px;
    transform: rotate(-45deg);
    transition: all 0.5s;
}

.section__cross:hover{
    padding: 5px 5px;
    transform: rotate(-45deg);
    transition: all 0.5s;
}

.section__cross_active{
    padding: 5px 5px;
    transform: rotate(-45deg);
}

.section__cross{
    padding: 5px 5px;
    transition: all 0.5s;
}

.section__image-close{
    max-width: 25em;
    width: 28vw;
    display: none;
}
